<% if book.favorited_by?(current_user) %>
    <%= link_to book_favorites_path(book), method: :delete, remote: true, data: {"turbolinks" => false} do %>
      <i class="fa-solid fa-heart" aria-hidden="true" style="color: red;"></i><span style="color: red;"><%= book.favorites.count %></span>
    <% end %>
<% else %>
    <%= link_to book_favorites_path(book), method: :post, remote: true, data: {"turbolinks" => false } do %>
      <i class="fa-solid fa-heart" aria-hidden="true" style="color: blue;"></i>︎<%= book.favorites.count %>
    <% end %>  
<% end %>  